
    * {
        box-sizing: border-box;
    }
/* ================================= 
  Base Styles
==================================== */
    body {
        font-family: 'Oswald', sans-serif;
        background-color: white;
        margin: auto;
    }
    
    .wrapper {
        width: 90%;
        text-align: center;
        background-color: white;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    
    .banner,
    .about,
    ul,
    ul li,
    .container,
    .col,
    .main-footer,
    .footer-name {
        display: flex;
    }

    .banner {
        background-color: #fafafa;
        flex-direction: column;
        height: 700px;
        align-items: center;

    }
    
    .banner .name {
        justify-content: center;
    }
    .banner ul {
        list-style: none;
        flex-direction: column;
        align-self: center;
        align-content: center;
        width: 98%;
        margin: auto;
    }

    .banner ul li {
        justify-content: space-around;
        font-size: 2em;
        margin-bottom: 5px;
        background-color: white;
        width: 80%;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 50%;
        align-self: center;
    }

    .about p {
        width: 60%;
        align-self: center;
        text-align: center;
        font-size: 1.5em;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .col {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5em;
    }

    .col img {
        width: 80%;
    }

    .col p {
        width: 75%;
    }

    .main-footer {
        flex-direction: column;
        background-color: #fafafa;
        align-items: center;
    }

    .main-footer h3 {
        margin-top: 2.5em;
    }

    .main-footer hr {
        color: black;

    }
    .main-footer p {
        width: 70%;
    }

    .footer-name {
        flex-direction: row;
    }
/* ================================= 
        Media Queries
==================================== */
    
@media (min-width: 769px) {
    .wrapper {
        width: 100%;
        align-content: center;
        justify-content: flex-end;
    }
    .banner {
        justify-content: center;
        margin: auto;
        width: 100%;
    }

   
    .container {
        flex-wrap: wrap;
        height: 1500px;
        width: 60%;
        align-self: center;
        justify-content: space-between;
        margin-right: auto;
    }
    
    .col {
        width: 80%;
        align-self: center;
        flex-grow: 1;
    }
    
}
    